@model IEnumerable<PetshopSENAICRUD.Models.Consultum>

@{
    ViewData["Title"] = "Consultas";
}

<h1 class="my-4">Consultas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Nova Consulta</a>
</p>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Data)</th>
            <th>@Html.DisplayNameFor(model => model.IdAnimalNavigation)</th>
            <th>@Html.DisplayNameFor(model => model.IdStatusNavigation)</th>
            <th>@Html.DisplayNameFor(model => model.IdVeterinarioNavigation)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Data)</td>
                <td>@Html.DisplayFor(modelItem => item.IdAnimalNavigation.Especie)</td>
                <td>@Html.DisplayFor(modelItem => item.IdStatusNavigation.Descricao)</td>
                <td>@Html.DisplayFor(modelItem => item.IdVeterinarioNavigation.Crmv)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdConsulta" class="btn btn-warning btn-sm">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdConsulta" class="btn btn-info btn-sm">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdConsulta" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
