@model PetshopSENAICRUD.Models.Cliente

@{
    ViewData["Title"] = "Detalhes do Cliente";
}

<h1 class="my-4">Detalhes do Cliente</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Cliente: @Model.Nome</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">Endereço</dt>
            <dd class="col-sm-9">@Model.Endereco</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">@Model.Email</dd>

            <dt class="col-sm-3">Telefone</dt>
            <dd class="col-sm-9">@Model.Telefone</dd>

            <dt class="col-sm-3">Preferência</dt>
            <dd class="col-sm-9">@Model.IdPreferenciaNavigation.Descricao</dd>
        </dl>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.IdCliente" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar à lista</a>
</div>
