@model IEnumerable<PetshopSENAICRUD.Models.Feedback>

@{
    ViewData["Title"] = "Feedbacks";
}

<h1 class="my-4">Feedbacks</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Novo Feedback</a>
</p>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Tipo)</th>
            <th>@Html.DisplayNameFor(model => model.IdClienteNavigation)</th>
            <th>@Html.DisplayNameFor(model => model.IdTipoFeedbackNavigation)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Tipo)</td>
                <td>@Html.DisplayFor(modelItem => item.IdClienteNavigation.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.IdTipoFeedbackNavigation.Descricao)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdFeedback" class="btn btn-warning btn-sm">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdFeedback" class="btn btn-info btn-sm">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdFeedback" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
